<div>
  <div class="label">
    <div class="Datareport" #leftDatareport>
      <div>
        <div class="CarsAndPeopleNumTitle" #leftDatareportTitle>营区基本情况 <div style="opacity: 0.7;display: inline-block;">
            | Information</div>
        </div>
        <div class="CarsAndPeople" #CarsAndPeople>
          <div class="CarsAndPeopleNumTitle" #CarsAndPeopleNumTitle>
            <div style="display: inline-block;width: 0px;height: 40%;border: 4px solid #0096ff;"></div> 人车底数
          </div>
          <div></div>
          <div id="CarsAndPeopleNum" #CarsAndPeopleNum></div>
        </div>

        <div class="CarsAndPeople" #Cars>
          <div class="CarsAndPeopleNumTitle"  #CarsAndPeopleNumTitle>
            <div style="display: inline-block;width: 0px;height: 100%;border: 4px solid #0096ff;"></div> 车辆进出统计
          </div>
          <div></div>
          <div id="CarsNum" #CarsNum></div>
        </div>

        <div class="CarsAndPeople" #People>
          <div class="CarsAndPeopleNumTitle" #CarsAndPeopleNumTitle>
            <div style="display: inline-block;width: 0px;height: 100%;border: 4px solid #0096ff;"></div> 访客管理
          </div>
          <div></div>
          <div id="PeopleNum" #CarsAndPeopleNum></div>
        </div>
      </div>

    </div>
    <div class="Datareport" #rightDatareport>
    </div>
    <img src="../../assets/img/RP.png" #label>
  </div>

</div>
